* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 5px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /*border: 1px solid black;*/
    /*border-radius: 4px;*/
    margin: 8px 0;
    padding: 4px 8px;
    width: 40vw;
}

textarea {
    resize: none;
}

button {
    margin: 8px 0;
    padding: 2px 6px;
    font-size: 16px;
    width: auto;
    max-width: 100px;
}

#conditions-checkbox {
    margin-right: 12px;
}